server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/coffee_db
    username: coffee_user
    password: coffee_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  jackson:
    serialization:
      write-dates-as-timestamps: false

logging:
  level:
    org.hibernate.SQL: warn
